/* sidebar inspirez de :https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */

*{
    font-family: sans-serif;
}

.sidenav {
    font-family: sans-serif;
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    /*background: linear-gradient(70deg, rgb(22, 22, 23), rgb(208, 199, 201));*/
    background: linear-gradient(70deg, #9599bd, #eaf3d3);
    overflow-x: hidden; 
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
/* sidenav */

.logo{
    margin: 0 auto;  /* met le graph au centre */
    width: 100px;
    height: 100px;
    background-image: url(https://img.freepik.com/free-vector/happy-cow-logo-mascot-template_190190-122.jpg?w=826);
    background-size: 100%;
    border-radius: 50%;
}
  
.main {
    font-family: Calibri;
    margin-left: 160px; 
    padding: 0px 10px;
    height: 100%;
    margin: 0;
}

body, html {
    height: 100%;
    margin: 0;
}

body{
    margin-left: 160px;   /* tt décalé pour pas être sous la barre de navigation */
}
  

.bgcow {
  background-image: url("https://s1.best-wallpaper.net/wallpaper/m/1511/Cow-head-face_m.webp");
  height: 25%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titre{
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #000;
    display: block;
}

.titre span.border {
    background-color: rgba(90, 79, 79, 0.56);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.cadre {
  display: flex;
  margin: auto;
  width: 60%;
  border: 3px solid #63634c;
  padding: 10px;
}

/* Bouton settings */

.graph button {
    background-color: #a19393;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.graph button:hover {
    background-color: #b6aeae;
    color:rgb(0, 0, 0);
}

.graph > button:after {
  content:" ▼";
  font-size: 12px;

}


/* Mets les div en row */

.graph_but {
  display: flex;
  margin: auto;
  width: 60%;
  border: 3px solid #63634c;
  padding: 10px;
}

.graph_but > .bout:not(:last-child) {
  margin-right: 100px;
}

.graph_but .bout{
  background-color: #a19393;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.graph_but .bout:hover{
    background-color: #b6aeae;
    color:rgb(0, 0, 0);
}

.flex {
    display: none;
    flex-direction: row;
    background-color: rgba(146, 123, 123, 0.346);
    /*margin-right: 500px; */

 }

.flex h1{
    font-size: 20px;
    font-family: sans-serif;
}

/* Button radio inspiré de : https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.Qcm {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: sans-serif;
  }
  
  .Qcm input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .Qcm:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .Qcm input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .Qcm input:checked ~ .checkmark:after {
    display: block;
  }
  
  .Qcm .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
/* Bouton de choix */


.graph {
    margin: 0 auto;  /* met le grh au centre */
    width: 800px;
    height: 800px;
    border-radius: 3px;
}