{% extends "base.html" %}
{% block content %}
<!-- Page content -->
    <body>

        <div class="info"> 
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham</p>
        </div>
        
        
    <h2> <center><u>Graphe</u> </center></h2>
        
    <div class = "graph"> 
        <div class="flex">
        
            <div class="qcm">
                <h1>Type :</h1>
                <label class="Qcm">Bar
                    <input type="radio" checked="checked" name="radio" onclick="updatetype_graph('bar')">
                    <span class="checkmark"></span>
                  </label>
                  <label class="Qcm">Radar
                    <input type="radio" name="radio" onclick="updatetype_graph('radar')">
                    <span class="checkmark"></span>
                  </label>
                  <label class="Qcm">PolarArea
                    <input type="radio" name="radio" onclick="updatetype_graph('polarArea')">
                    <span class="checkmark"></span>
                  </label>
                  <label class="Qcm">Pie
                    <input type="radio" name="radio" onclick="updatetype_graph('pie')">
                    <span class="checkmark"></span>
                  </label>
            </div>

            <div class="color">
                <h1>Couleur :</h1>
                <label class="Qcm">Bleu
                    <input type="radio" checked="checked" name="radio" onclick="updatecolor('rgba(89, 237, 234, 0.8)')">
                    <span class="checkmark"></span>
                  </label>
                  <label class="Qcm">Rouge
                    <input type="radio" name="radio" onclick="updatecolor('rgba(237, 44, 44, 0.8)')">
                    <span class="checkmark"></span>
                  </label>
                  <label class="Qcm">Vert
                    <input type="radio" name="radio" onclick="updatecolor('rgba(41, 214, 48, 0.8)')">
                    <span class="checkmark"></span>
                  </label>
                  <label class="Qcm">Orange
                    <input type="radio" name="radio" onclick="updatecolor('rgba(237, 172, 44, 0.8)')">
                    <span class="checkmark"></span>
                  </label>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
        
        <canvas id="graphique" width="100px" height="100px"></canvas>
        <script>

            const ctx = document.getElementById('graphique').getContext('2d');
            const myChart = new Chart(ctx, {
            type: ['bar'],   // le type du graphique
            data: {        // les données
                labels: ['Jean', 'Martine', 'Michel', 'Jules', 'Louise', 'Dominique','thomas le beau gosse','JEAN'],
                datasets: [{
                            backgroundColor: 'rgba(89, 237, 234, 0.8)',
                            label: 'votes',
                            data: [12, 19, 3, 5, 2, 3,50,20]
                        }]
                }
            }
            );

        function updatecolor(color){
            myChart.data.datasets[0].backgroundColor = color;
            myChart.update();
        }
    
        function updatetype_graph(type){
            myChart.config.type = type;
            myChart.update();
        }
        </script> 

    </div>
       
    
    </body>
{% endblock %}
