{% extends "base.html" %}
{% block content %}
<div class="main"> 
    <body>
        <div class="info"> 
            <br>
        <pre>
            
            Vous voulez en savoir plus sur la Ferme des Trois Chênes ? Vous êtes au bon endroit !
            Vous trouverez ici toutes les informations à propos de la Ferme.
            

            <u><b style="color:forestgreen;">Date de création :</b></u>
            
            1990

            <u><b style="color:forestgreen;">Propriétaires :</b></u> 
            
            Mr. et Mme. Verhaeghe 
            
            <u><b style="color:forestgreen;">Les origines des bêtes :</b></u> 
            
            Les vaches présentes dans la Ferme y sont soit nées, soit amenées par la suite.
            Les femelles sont souvent des bêtes achetées à un autre endroit.
            Les mâles, souvent utilisés pour la reproduction, ne sont pas souvent déplacés, car l'insémination peut se faire artificiellement.
            Chaque vache à une carte d'identité contenant toutes les informations la concernant.
            Sur cette carte se trouve : un numéro unique d'identification (repris sur l'étiquette d'oreille de l'animal), sa date de naissance, l'identification de sa mère, et plein d'autres informations.
            <u><b style="color:forestgreen;">Les différentes familles :</b></u>
            
            Dans la ferme, en plus de l'identification officielle, chaque vache appartient à une famille. La famille est définie par la mère (contrairement aux humains), lorsqu'un veau naît, il appartiendra à la même famille que sa mère.
            Dans le cas de vaches achetées dans une autre exploitation, chaque nouvelle vache arrivée dans la Ferme des Trois Chênes devient la matriarche d'une nouvelle famille. La famille sera constituée de la vache achetée, et de tous ses futurs veaux.
            <u><b style="color:forestgreen;">Les différentes races :</b></u>
            
            Il y a 3 races de vaches différentes à la Ferme : 
            - Holstien
            - Jersey
            - Blanc Bleu Belge
            
            <u><b style="color:forestgreen;">Mélanges de sang :</b></u>
            
            Lorsqu'une vache de la race X et un taureau de la race Y donnent naissance à un veau, on considère que le veau est à 50% de race X et à 50% de race Y.
            Les bêtes achetées (taureaux ou matriarches) seront <i>considérées</i> comme étant des animaux de pure race. Il est important de tenir compte de ce détail lorsqu'on observe les statistiques.
            
            <u><b style="color:forestgreen;">Quelques Stars de la Ferme des Trois Chênes :</b></u>
            
            <img src="{{url_for('static',filename ='vache1.jpeg')}}" alt="Séloni, membre de la Ferme des Trois Chênes">
            Séloni, membre de la Ferme des Trois Chênes
            <br>
            <img src="{{url_for('static',filename ='vache3.jpeg')}}" alt="Swimilloni (milieu), 3/4 Jersey, avec deux autres vache 100% Holstein">
            Swimilloni (milieu), 3/4 Jersey, avec deux autres vache 100% Holstein
            
            <u><b style="color:forestgreen;">Les créateurs du site :</b></u>
            
            Thomas Devlamminck
            Akkelyn de Groot

        </pre>     
    </body>
</div>
{% endblock %}




