{% extends "base.html" %}
{% block content %}
<!-- Page content -->
    <body>

        <div class="info"> 
            <pre>
        Ce site de La Ferme des Trois Chênes à été conçu pour pouvoir analyser la base de donnée comprennant toutes les informations sur les vaches de la Ferme.
    
        Vous avez le choix entre 3 graphiques différents:
        - Le <b>Graphique des Naissances</b> vous permet de voir le nombre de naissances sur une période donnée.
        - Le <b>Graphique des Naissances Lunaires</b> vous donne tous les vélages qui ont eu lieu en période de pleine lune et ceux en temps normal. 
          Il se base aussi sur les dates de début et de fin.
        - Le graphique sur la <b>Répartition des Races</b> affiche la distribution des races dans la base de données. 
          Pour ce graphique, vous avez choisissez quelle(s) race(s) vous intéressent ainsi que le pourcentage de <i>pureté</i> de race minimum. 
          Le graphique affichera alors le nombre de vaches respectant vos critères.
            </pre>
        </div>
        
        
    <h2> <center><u>________________________________________________________________________</u> </center></h2>
    <br>

<br>
<br>

    <div class = graph_but>
        <div>
        <button class= "bout" onclick="Graphnaissance()">Graphique des Naissances </button>
    </div>


        <div class="date">

      
            <label for="start"><b>Start date:</b></label> 
    
            <input type="date" id="start" name="trip-start"
                        value="2018-07-22"
                        min="1990-10-03" max="2020-12-19">  
                        
                <br>
                <br>
    
            <label for="start"><b>End date :</b></label>
    
            <input type="date" id="stop" name="trip-stop"
                        value="2018-07-22"
                        min="1990-10-03" max="2020-12-19">   
    
        </div>

        <div class="naissance_lunaire">
        <button class= "bout" onclick="GraphLune()"> Naissances Lunaire </button>
        </div>

    </div>
    <br>

    <div class = graph_but>

        <div>

        <button class= "bout" onclick="Graphrace()">Répartition des Races </button>

        </div>

            <div class="Race">
                <p><b>Choix des races :   &nbsp;</b><p> 
                <div class="Check">
                <label class="Race">Holstein
                <input type="checkbox" id="Holstein">
                <span class="checkmark"></span>
                </label>
                <br>
                <label class="Race">Blanc Bleu Belge
                <input type="checkbox" id="BBB">
                <span class="checkmark"></span>
                </label>
                <br>
                <label class="Race">Jersey
                <input type="checkbox" id="Jersey">
                <span class="checkmark"></span>
            </div>
        </div>

        <div class="slidecontainer">
            <p><b>Pourcentage Minimum</b></p>
            <input type="range" min="1" max="100" value="50" class="slider" id="race_min">
            <p> Valeur : <span id="f"></span></p>
            <script>
                var slide = document.getElementById("race_min");
                var y = document.getElementById("f");
                y.innerHTML = slide.value;

                slide.oninput = function() {
                    y.innerHTML = this.value
                }
                
            </script>
          </div>

    </div>
        <br>

        <br>
    <div class = "graph"> 

        <br>
        <button onclick="ShowSettings()">Settings </button>

        <div class="flex" id="Cheese">
            <div class="qcm">
                <h1>Type :</h1>

                    <label class="Qcm">Bar
                    <input type="radio" checked="checked" name="radio" onclick="updatetype_graph('bar')">
                    <span class="checkmark"></span>
                    </label>

                    <label class="Qcm">PolarArea
                    <input type="radio" name="radio" onclick="updatetype_graph('polarArea')">
                    <span class="checkmark"></span>
                    </label>

                    <label class="Qcm">Pie
                    <input type="radio" name="radio" onclick="updatetype_graph('pie')">
                    <span class="checkmark"></span>
                    </label>

                    <label class="Qcm">Radar
                    <input type="radio" name="radio" onclick="updatetype_graph('radar')">
                    <span class="checkmark"></span>
                    </label>

                    <label class="Qcm">Line
                    <input type="radio" name="radio" onclick="updatetype_graph('line')">
                    <span class="checkmark"></span>
                    </label>
            </div>

            <div class="color">
                <h1>Palette de couleur :</h1>

                    <label class="Qcm">Vintage
                    <input type="radio" checked="checked" name="radio" onclick="updatecolor(['rgb(98, 131, 149)','rgb(150, 137, 123)','rgb(223, 213, 165)','rgb(219, 173, 106)','rgb(207, 153, 95)'])">
                    <span class="checkmark"></span>
                    </label>

                    <label class="Qcm">Océan
                    <input type="radio" name="radio" onclick="updatecolor(['rgb(126, 46, 132)','rgb(0, 78, 152)','rgb(58, 175, 185)','rgb(100, 233, 238)','rgb(151, 200, 235)'])">
                    <span class="checkmark"></span>
                    </label>
                    
                    <label class="Qcm">Chaleur
                    <input type="radio" name="radio" onclick="updatecolor(['rgb(191, 25, 13)','rgb(255, 71, 71)','rgb(249, 198, 57)','rgb(184, 0, 70)','rgb(239, 131, 84)'])">
                    <span class="checkmark"></span>
                    </label>

                    <label class="Qcm">Bonbon
                    <input type="radio" name="radio" onclick="updatecolor(['rgb(126, 46, 132)','rgb(209, 64, 129)','rgb(239, 121, 138)','rgb(210, 214, 239)','rgb(191, 25, 13)'])">
                    <span class="checkmark"></span>
                    </label>
            </div>
        </div>
        <script>
            //permet au bouton de cacher les paramètres
            function ShowSettings() {
                var x = document.getElementById("Cheese");
                if (x.style.display === "flex") {
                    x.style.display = "none";
                } else {
                    x.style.display = "flex";
                }
            }
            </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
        
        <canvas id="graphique" width="100px" height="100px"></canvas>
        <script>

            //donné venant de la bd
            const fam = '{{ graph_data.famille |tojson}}'; 
            const fam_id = '{{ graph_data.famille_id |tojson}}'; 
            const fam_names = '{{ graph_data.famille_names |tojson }}'; 
            const fam_en_vie = '{{ graph_data.famille_en_vie }}';
            const naiss = '{{ graph_data.naissance }}';
            const naiss_dico = '{{ graph_data.naissance_dico }}';
            const lst_datetype = '{{ graph_data.lst_datetype }}';
            const d_lune_pyth = '{{ graph_data.dico_lune }}';
            const type_pourct = '{{graph_data.lst_type_pourct}}';

        
            //modif les valeurs en list et les convet en int si nécessaire
            var fam_id_lst_int = fam_id.replace('[', '').replace(']', '').split(",").map(Number);
            var fam_names_lst = fam_names.replace('[', '').replace(']', '').split(",")

            var naiss_lst = naiss.replace('[', '').replace(']', '').split(",")
            let naiss_d_lst =  naiss_dico.replaceAll('{', '').replaceAll('}', '').replaceAll('(&#39;', '').replaceAll('&#39;,):', '').replaceAll(',', '').split(" ")


            //dictionnaire avec chaque date et le nombre de naissance 
            let naiss_dic = {}; 
                for (let i=0; i< naiss_d_lst.length; i=i+2 ) {
                    naiss_dic[naiss_d_lst[i]] = naiss_d_lst[i+1];
            }

            var date_start = document.getElementById("start");
            var date_stop = document.getElementById("stop");

            //modif la liste date $ (type pourc) en lst js
            lst_clean = lst_datetype.replaceAll('&#39;','').replaceAll('&#34;','').replaceAll("&#39;,",'').replaceAll('(&#39;', '').replaceAll('&#39;,):', '').split("!")
            lst_date_type= []
            for (var i = 0; i < lst_clean.length; i++) {
                lst_date_type.push(lst_clean[i].split("$"));  
            }
            //console.log(lst_date_type)

            //création d'un dico avec la date en clé et les type et % en déf
            dico_date_type = {}
            for (var i = 0; i < lst_date_type.length; i++) {
                type = lst_date_type[i][1]
                if (typeof type != 'undefined'){
                    dico_date_type[(lst_date_type[i][0]).replaceAll(',','').replaceAll("(",'').replaceAll(")",'').replaceAll(" ",'')] = type.replaceAll("[",'').replaceAll("]",'');
                } 
            }

            //console.log(dico_date_type)
            //console.log(naiss_dic)


            //copie du dic d_lune venu depuis python
            a = d_lune_pyth.replaceAll('&#39;','').replaceAll('{','').replaceAll('}','').replaceAll(' ','').replaceAll(':',',').split(",")
            //console.log(a)
            d_lune = {}
            for (let i=0; i< a.length; i=i+2 ) {
                    d_lune[a[i]] = a[i+1];
            }
            console.log(d_lune)

            //recree la lst pcq ca fonctionne jamais comme on veut 
            lst_type_pourct= []
            b= type_pourct.replaceAll('[','').replaceAll(']','').replaceAll('(','').replaceAll(')','').replaceAll(' ','').split(',')
            for (let i=0; i< b.length; i=i+2 ) {
                    c = b[i]+ " "  + b[i+1]
                    lst_type_pourct.push(c);
            }
            //console.log(lst_type_pourct)


            var data =  [12, 19, 3];
            var labels = ['Holstein','Blanc Bleu Belge','Jersey'];

            //var data = fam_id_lst_int
            //var labels = fam_names_lst


            //console.log(fam_names[0])
            //console.log(fam_id_lst_int);
            //console.log(fam_id_lst_int[0]);
            //console.log(Array.isArray(fam_id_lst_int)); 

            //console.log(fam_names)

            //repète les couleurs pour la palette 
            var colors = ['rgb(98, 131, 149)','rgb(150, 137, 123)','rgb(223, 213, 165)','rgb(219, 173, 106)','rgb(207, 153, 95)'];
            window.onload = function pallette() {
            var bgColors = [];
            for (var i = 0; i < data.length; i++) {
                bgColors.push(colors[i % colors.length]);  
            }

            const ctx = document.getElementById('graphique').getContext('2d');
            window.myChart = new Chart(ctx, {
            type: ['bar'],   // le type du graphique
            data: {        // les données
                labels: labels,
                datasets: [{
                            label : [" "],    
                            backgroundColor: bgColors,
                            fill: false,
                            data: data
                        }]
                }, 
            options :{
                scales: {
                    xAxes: [{
                        gridLines: {
                            drawOnChartArea: true
                            }
                            }],
                    yAxes: [{
                        gridLines: {
                            drawOnChartArea: true
                            }
                        }]
                    }   
                }
            }
            );
            };

            //creer le graph avec le nombre de naissance par jour en fct de la date
            function Graphnaissance(){

                //recup les dates input par le user
                var date_start = document.getElementById("start").value;
                var date_stop = document.getElementById("stop").value;

                //console.log(date_start)
                //console.log(date_stop)

                //creer une liste avec tous les jours entre les deux dates
                var getDaysArray = function(start, end) {
                    for(var arr=[],dt=new Date(start); dt<=new Date(end); dt.setDate(dt.getDate()+1)){
                    arr.push(new Date(dt));
                    }
                return arr;
                };

                var date_lst = getDaysArray(new Date(date_start),new Date(date_stop));
                //console.log(date_lst);

                
                //reg dans le dico si c'est dedans et creer une nouvelle liste avec le nombre de naissance par jour 
                
                //naiss_dic
                var nmb_naissance =[];
                var jour = [];

                for (var i = 0; i < date_lst.length; i++) {

                    //changer les dates pour être comme dans le dico 
                    var month = date_lst[i].getUTCMonth() + 1; //months from 1-12
                    var day = date_lst[i].getUTCDate();
                    var year = date_lst[i].getUTCFullYear();

                    newdate = day + "/" + month + "/" + year;

                    if (newdate in naiss_dic){
                        nmb_naissance.push(naiss_dic[newdate])
                        jour.push(newdate)
                    }else{
                        nmb_naissance.push(0)
                        jour.push(newdate)
                    }
                }

                //faire un dico avec en clé les 3 types et en def list des dates relié au type 

                //comparer les dates avec les familles choisient et baisser de 1 la valeur dans la lst nmb_naissance
                // aller sur chaque element de jour et si pas dans la liste et pas a zero descendre de 1
                lst_date_type //lst : [[(date)],[(type pourcentage) (type pourcentage)]]

                //création d'un dico avec la date en clé et les type et % en déf
                dico_date_type = {}
                for (var i = 0; i < lst_date_type.length; i++) {
                    dico_date_type[lst_datetype[i][0]] = lst_datetype[i][1];
                }

                //console.log(dico_date_type)

                
                //mettre a jour le graph avec les 2 listes
                myChart.data.labels = jour;
                myChart.data.datasets[0].data = nmb_naissance;
                myChart.update();
                
            }

            //naissance lunaire en fct de la date choisi
            function GraphLune(){

                //recup les dates input par le user
                var date_start = document.getElementById("start").value;
                var date_stop = document.getElementById("stop").value;

                //creer une liste avec tous les jours entre les deux dates
                var getDaysArray = function(start, end) {
                    for(var arr=[],dt=new Date(start); dt<=new Date(end); dt.setDate(dt.getDate()+1)){
                    arr.push(new Date(dt));
                    }
                return arr;
                };

                var date_lst = getDaysArray(new Date(date_start),new Date(date_stop));

                var lune = 0 //incrementer en fct 
                var nrml = 0


                for (var i = 0; i < date_lst.length; i++) {

                    //changer les dates pour être comme dans le dico 
                    var month = date_lst[i].getUTCMonth() + 1; //months from 1-12
                    var day = date_lst[i].getUTCDate();
                    var year = date_lst[i].getUTCFullYear();

                    newdate = day + "/" + month + "/" + year;

                    if (newdate in d_lune){
                        if(d_lune[newdate][0] == '1'){
                            for (var t = 0; t < d_lune[newdate].length; t++){
                                lune++
                            }
                        }else{
                            for (var t = 0; t < d_lune[newdate].length; t++){
                                nrml++
                            }
                        }
                    }
                }

                //mettre a jour le graph avec les 2 valeurs
                myChart.data.labels = ['Pleine Lune','Normal'];
                myChart.data.datasets[0].data = [lune,nrml];
                myChart.config.type = 'pie';
                myChart.options.scales.xAxes[0].gridLines.color = "#FFFFFF";
                myChart.options.scales.yAxes[0].gridLines.color = "#FFFFFF";
                myChart.options.scales.xAxes[0].ticks.display = false;
                myChart.options.scales.yAxes[0].ticks.display = false;
                //myChart.data.datasets[0].label = ['Pleine Lune','Normal']
                myChart.update();


            }

            //creer le graph de répartition des races dans la ferme en fct d'un pourcentage
            function Graphrace(){


                //valeur du slider 
                var slide = document.getElementById("race_min").value;

                // valeur des checkbox True/False en fct 
                var holstein = document.getElementById("Holstein").checked;  //1
                var bbb = document.getElementById("BBB").checked;   //2
                var jersey= document.getElementById("Jersey").checked;  //3

                //console.log(slide)
                //console.log(holstein)
                //console.log(bbb)
                //console.log(jersey)

                race_ferme = [0,0,0]

                for (var i = 0; i < lst_type_pourct.length; i++) {

                    race_pourct = lst_type_pourct[i].split(' ')
                    race = parseInt(race_pourct[0])
                    pourct = parseInt(race_pourct[1])

                    if (holstein == true && race == 1){
                        if(slide <= pourct){
                            race_ferme[race-1] ++
                        }
                    }
                    if (bbb == true && race == 2){
                        if(slide <= pourct){
                            race_ferme[race-1] ++
                        }
                    }
                    if (jersey == true && race == 3){
                        if(slide <= pourct){
                            race_ferme[race-1] ++
                        }
                    }
                }

                myChart.data.labels = ['Holstein','Bleu Blanc Belge','Jersey'];
                myChart.data.datasets[0].data = race_ferme;
                updatetype_graph('pie')
                myChart.options.scales.xAxes[0].gridLines.color = "#FFFFFF";
                myChart.options.scales.yAxes[0].gridLines.color = "#FFFFFF";
                myChart.options.scales.xAxes[0].ticks.display = false;
                myChart.options.scales.yAxes[0].ticks.display = false;
                myChart.update();

            }


            // met a jour les couleurs du graph
            function updatecolor(color){
                var col = []

                for (var i = 0; i < myChart.data.datasets[0].data.length; i++) {
                    col.push(color[i % color.length]);  
                }
            
                myChart.data.datasets[0].backgroundColor = col;
                myChart.update();
            }
            
            // met a jour le type de graph
            function updatetype_graph(type){

                myChart.options.scales.xAxes[0].ticks.display = false;
                myChart.options.scales.yAxes[0].ticks.display = false;


                myChart.config.type = type;  

                if(type == 'polarArea' || type == 'pie' || type == 'radar'){
                    myChart.options.scales.xAxes[0].gridLines.color = "#FFFFFF";
                    myChart.options.scales.yAxes[0].gridLines.color = "#FFFFFF";
                    myChart.options.scales.xAxes[0].ticks.display = false;
                    myChart.options.scales.yAxes[0].ticks.display = false;
                }

                if(type == 'bar' || type == 'line'){
                    myChart.options.scales.xAxes[0].ticks.display = true;
                    myChart.options.scales.yAxes[0].ticks.display = true;
                    myChart.options.scales.xAxes[0].gridLines.color = "rgb(231,233,237)";
                    myChart.options.scales.yAxes[0].gridLines.color = "rgb(231,233,237)";
                }

                myChart.update();
            }
        </script> 

    </div>
       
    
    </body>
{% endblock %}
